<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>chat room</title>
    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app/chatroom/chatroom.css" />
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</head>

<body id="chatBody">
<ul id="chatroom" class="chat-thread">
    <li>Are we meeting today?<span class="name">9:15</span></li>
    <li>yes, what time suits you?<span class="name">9:16</span></li>
    <li>I was thinking after lunch, I have a meeting in the morning<span class="name">9:17</span></li>
</ul>

<form id="chatWindow" onsubmit="return false;" class="chat-window">
    <input id="msg" v-on="send" class="chat-window-message" type="text" autocomplete="off" autofocus />
</form>
</body>
<div>

    <script src="/js/app/chatroom/chatroom.js"></script>
</div>

</html>