<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>chat room</title>
  <!--vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/app/chatroom/chatroom.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</head>

<body id="chatBody">
  <ul id="chatroom" class="chat-thread">
    <li>Are we meeting today?</li>
    <li>yes, what time suits you?</li>
    <li>I was thinking after lunch, I have a meeting in the morning</li>
  </ul>

  <form id="chatWindow" onsubmit="return false;" class="chat-window">
    <input id="msg" v-on="send" class="chat-window-message"` type="text" autocomplete="off" autofocus />
  </form>
</body>
<div>
  <script>
    var socket,
            msg,
            receiveChannel,
            chatWindow = document.querySelector('.chat-window'),
            chatWindowMessage = document.querySelector('.chat-window-message'),
            chatThread = document.querySelector('.chat-thread');

    if (!window.WebSocket) {
      window.WebSocket = window.MozWebSocket;
    }

    if (window.WebSocket) {
      socket = new WebSocket("ws://localhost:8082/websocket");
      socket.onmessage = function (event) {

        var chatNewThread = document.createElement('li'),
                chatNewMessage = document.createTextNode(event.data);

        // Add message to chat thread and scroll to bottom
        chatNewThread.appendChild(chatNewMessage);
        chatThread.appendChild(chatNewThread);
        chatThread.scrollTop = chatThread.scrollHeight;

        // Clear text value
        chatWindowMessage.value = '';


        // var ta = document.getElementById('responseText');
        // ta.value = "";
        // ta.value = event.data
      };
      socket.onopen = function (event) {

      };
      socket.onclose = function (event) {

      };
    }
    else {
      alert("抱歉，您的浏览器不支持WebSocket协议!");
    }

    function send(message) {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(message);
        }
        else {
            alert("WebSocket连接没有建立成功!");
        }
    }



    // On form submit, send message
    chatWindow.onsubmit = function (e) {
      msg = $('#msg').val();
      send(msg);
      return false;
    };

    $("#chatWindow").keydown(function() {
      if (event.keyCode == "13") {//keyCode=13是回车键
        $('#msg').click();
      }
    });


  </script>
  <script src="/js/app/chatroom/chatroom.js"></script>
</div>

</html>